@model DevTrends.MvcDonutCaching.Demo.Models.TierThree

@{
    Model.Data = DateTime.Now.Ticks.ToString();
}

<div style="background: gray;margin:auto; width:80%">
    <h4>Tier Three Partial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Model.Data
        </dd>

    </dl>
</div>
<p>
</p>
