@model DevTrends.MvcDonutCaching.Demo.Models.Genesis

<div style="background: lightgray;margin:auto; width:80%">
    <h4>Tier Two 2nd Partial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TierTwoData)
        </dt>

        <dd>
            @DateTime.Now.Ticks.ToString()
        </dd>

    </dl>
</div>
<p>
</p>
